altair==5.5.0
asttokens==3.0.0
attrs==25.3.0
decorator==5.2.1
executing==2.2.0
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
narwhals==1.37.1
numpy==2.2.5
packaging==25.0
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
referencing==0.36.2
rpds-py==0.24.0
ruff==0.11.8
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.13.2
vl-convert-python==1.7.0
wcwidth==0.2.13
