<p>Welcome! This is my small slice of the internet
to write about data science, statistics, 
software engineering, science, and a smattering
of more informal topics too.</p>

<p>My name is Conor. I live in North
East England, working remotely
as a data scientist.
This site started in early <code>2025</code> as an informal
New Year Resolution to practice writing 
and learn more web development.
I was inspired by the authenticity of the
<a href="https://indieweb.org/">IndieWeb</a> movement,
and from reading many great personal blogs on platforms
such as <a href=https://bearblog.dev/>Bear Blog</a>.
</p>

<p>This is a minimal and open-source website, written primarily in
<a href="https://www.rust-lang.org/">Rust</a> and hosted on _.
All the code can be found at the
<a href="https://github.com/cmgoold/cmgoold.com/">Github repository</a>.
If you notice any errors or just want to reach out, 
please open an <a href="https://github.com/cmgoold/cmgoold.com/issues/new">issue</a>
on Github.
</p>
