<p>Posts are arranged by their initial publication
date, but each has an additional <code>edited</code>
date, which you can view on the post page. 
Corrections and amendments might be
made to previous posts if I find errors or
my views change. If you want to see
the change history, you can check out the
<a href="https://github.com/cmgoold/cmgoold.com/">Github repository</a>
and the associated pull requests.

You can filter by tags by clicking the relevant <code>[tag]</code>
attributed to each post.
</p>
