<p>Hi, I'm Conor. This is my small slice of the internet
to write about statistics, 
software engineering, science, and a smattering
of more informal topics too.</p>

<p>I live in North
East England, working remotely
as a data scientist.
This site started in early 2025 as an informal
New Year Resolution to practice writing 
and learn more web development.
I was inspired by the goals of the
<a href="https://indieweb.org/">IndieWeb</a> movement,
and from reading many great personal blogs on platforms
such as <a href=https://bearblog.dev/>Bear Blog</a>.
</p>

<p>This site is free of AI-generated content
and advertising.
I don't track any of your personal data
or activity.
</p>

All the code for this website be found at the
<a href="https://github.com/cmgoold/cmgoold.com/">Github repository</a>.
If you notice any errors or just want to reach out, 
please open an <a href="https://github.com/cmgoold/cmgoold.com/issues/new">issue</a>
on Github, or use the
<a href=/contact>contact</a> page.
</p>
